@font-face {
    font-family: 'PlaywriteAUVICGuides';
    src: url('PlaywriteAUVICGuides-Regular.ttf') format('truetype');
}
body {
    background-color: #a8ddec;
    font-family: 'PlaywriteAUVICGuides', Arial, Helvetica, sans-serif;
}
h1, h2{
    font-size: 22px;
    text-align: center;
}
p {
    text-align: center;
    line-height: 1.5;
    
}
a , nav{
    text-align: center;
    padding: 10px;
}
#formulaire {
    text-align: left;
}
#list {
    text-align: center;
    font-size: 18px;
}
#list ul{
   display: inline-block;
   text-align: left;
}
.serrer{
   
    display: grid;
    width: 20%;
    
}
img {
    border-radius: 15px 15px 15px 15px;
    text-align: left;
}
h1 {
    color: #345cc9;
}
h2 {
    color: #345cc9;
}
#king {
    color: #22d412;
}

.queen {
    color: #26a9e1;
}