body{
    background-color: rgb(50, 50, 50);
}

img {
    border-radius: 20px;
    aspect-ratio: 1/1;
    width: 250px;
}

p, h4 {
    margin: 0;
    color: rgb(110, 85, 85);
}
h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(205, 162, 162);
}
h4 {
    font-size: 28px;
}
#tableauDeBord{
    Display: flex;
    gap: 20px;
}

.single-card {
    background-color: rgb(234, 223, 223);
    padding: 28px;
    border: 1px solid rgba(0, 0, 0, 0.345);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 200px;
    max-width: 300px;
}